<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{changeLocale.locale}">

	<h:head>
		<meta charset="utf-8" />
		<title><h:outputText value="#{msg['title.welcome']}" /></title>
		<style type="text/css">
button.ui-button {
	margin-right: .5rem;
}
</style>
	</h:head>
	<h:body>

		<h:panelGrid>
			<h3>Welcome</h3>
			<h:form>
				<p:panelMenu style="width:300px">
					<p:submenu label="#{msg['language']}">
						<p:menuitem value="#{msg['language1']}"
							action="#{changeLocale.setEnglishLocale}" />
						<p:menuitem value="#{msg['language2']}"
							action="#{changeLocale.setAllemand}" />
					</p:submenu>
				</p:panelMenu>

				<h:commandButton styleClass="ui-button-raised"
					action="#{frontEndMB.LoginFormAdmin}" value="#{msg['admin']}" />
				<h:commandButton styleClass="ui-button-raised ui-button-secondary"
					action="#{frontEndMB.LoginFormStudent}" value="#{msg['stu']}" />
			</h:form>
		</h:panelGrid>
	</h:body>
</f:view>
</html>