<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="#{changeLocale.locale}">
	<h:head>
		<meta charset="utf-8" />
		<title><h:outputText value="#{msg['login']}" /></title>
	</h:head>
	<h:body>
		<h:message globalOnly="true" infoClass="info" />
		<div class="card">
			<h2 style="text-align: center;">
				<h:outputText value="#{msg['title.welcome']}" />
			</h2>
			<div class='row'>
				<div class="col-lg-6 card">
					<h:form id="formLanguage">
						<p:commandButton id="dynaButton" value="#{msg['language']}"
							type="button" icon="pi pi-bars" />
						<p:menu overlay="true" trigger="dynaButton" my="left top"
							at="left bottom">
							<p:submenu label="Options">
								<p:menuitem value="#{msg['language1']}"
									action="#{changeLocale.setEnglishLocale}" />
								<p:menuitem value="#{msg['language2']}"
									action="#{changeLocale.setAllemand}" />
							</p:submenu>
						</p:menu>
					</h:form>
				</div>
			</div>
			<p:tabView>
				<p:tab title="#{msg['admin']}">
					<h:panelGrid columns="2" cellpadding="10">
						<div class="container card">
							<h:form id="formAdmin">
								<fieldset style="width: 300px; margin-left: 20px;">
									<legend>
										<h:outputText value="#{msg['page.login']}" />
									</legend>

									<div class="p-field p-grid">
										<label for="email" class="p-col-fixed" style="width: 100px"><h:outputText
												value="#{msg['email']}" /></label>
										<div class="p-col">
											<p:inputText id="email" required="true"
												requiredMessage="#{msg['required.email']}"
												value="#{adminMB.admin.email}" type="text" />
											<p:message for="email" />
										</div>
									</div>

									<div class="p-field p-grid">
										<label for="password" class="p-col-fixed" style="width: 100px"><h:outputText
												value="#{msg['password']}" /></label>
										<div class="p-col">
											<p:password id="password"
												requiredMessage="#{msg['required.password']}"
												value="#{adminMB.admin.password}" required="true"
												toggleMask="true" redisplay="true" />
											<p:message autoUpdate="true" for="password" />
										</div>
									</div>

									<p:commandButton update="@form" value="#{msg['login']}"
										styleClass="ui-button-raised p-mr-2 ui-button-primary"
										action="#{adminMB.login}" />
								</fieldset>
							</h:form>
						</div>
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{msg['stu']}">
					<h:panelGrid columns="2" cellpadding="10">
						<div class="card container">
							<h:form id="formStudent">
								<fieldset style="width: 300px; margin-left: 20px;">
									<legend>
										<h:outputText value="#{msg['page.login.student']}" />
									</legend>

									<div class="p-field p-grid">
										<label for="email" class="p-col-fixed" style="width: 100px"><h:outputText
												value="#{msg['email']}" /></label>
										<div class="p-col">
											<p:inputText id="emailStudent" required="true"
												requiredMessage="#{msg['required.email']}"
												value="#{studentMB.student.email}" type="email" />
											<p:message autoUpdate="true" for="emailStudent" />
										</div>
									</div>

									<div class="p-field p-grid">
										<label for="password" class="p-col-fixed" style="width: 100px"><h:outputText
												value="#{msg['password']}" /></label>
										<div class="p-col">
											<p:password id="passwordStudent" required="true"
												requiredMessage="#{msg['required.password']}"
												value="#{studentMB.student.password}" toggleMask="true"
												redisplay="true" />
											<p:message autoUpdate="true" for="passwordStudent" />
										</div>
									</div>

									<p:commandButton update="@form" value="#{msg['login']}"
										styleClass="ui-button-raised p-mr-2 ui-button-primary"
										action="#{studentMB.login}" />
									<br />
								</fieldset>
							</h:form>
						</div>
					</h:panelGrid>
				</p:tab>
			</p:tabView>
		</div>
	</h:body>
</f:view>
</html>