<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="#{changeLocale.locale}">
	<h:head>
		<meta charset="utf-8" />
		<title><h:outputText value="#{msg['title.admin']}" /></title>
	</h:head>
	<f:metadata>
		<f:viewAction action="#{postsMB.initDataTable}" />
	</f:metadata>
	<h:body>

		<p:tabView>
			<p:tab title="#{msg['answer']}">
				<h:panelGrid columns="2" cellpadding="10">
					<h1>
						<h:outputText value="#{msg['list']}" />
					</h1>

					<div class="card">
						<h:form id="form">
							<p:dataView var="post" value="#{postsMB.listPosts}" rows="6"
								paginator="true" rowsPerPageTemplate="6,12,16"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								listIcon="pi pi-bars">

								<p:dataViewListItem>
									<h:panelGrid columns="2" style="width:100%" cellspacing="20">
										<p:outputPanel style="background-color: rgb(210, 235, 243)">
											<h:panelGrid columns="2" cellpadding="7">
												<h:outputText value="#{msg['q1']}"
													styleClass="text-secondary" />
												<h:outputText value="#{post.content.q1}" />

												<h:outputText value="#{msg['q2']}"
													styleClass="text-secondary" />
												<h:outputText value="#{post.content.q2}" />

												<h:outputText value="#{msg['q3']}"
													styleClass="text-secondary" />
												<h:outputText value="#{post.content.q3}" />

												<h:outputText value="#{msg['q4']}"
													styleClass="text-secondary" />
												<h:outputText value="#{post.content.q4}" />

												<h:outputText value="#{msg['q5']}"
													styleClass="text-secondary" />
												<h:outputText value="#{post.content.q5}" />

												<h:outputText value="#{msg['q6']}"
													styleClass="text-secondary" />
												<h:outputText value="#{post.content.q6}" />

												<h:outputText value="#{msg['q7']}"
													styleClass="text-secondary" />
												<h:outputText value="#{post.content.q7}" />

												<h:outputText value="Student Name:"
													styleClass="text-secondary" />
												<h:outputText value="#{post.student.name}" />

												<h:outputText value="Student Email:" />
												<h:outputText value="#{post.student.email}" />
											</h:panelGrid>
										</p:outputPanel>
									</h:panelGrid>
								</p:dataViewListItem>
							</p:dataView>
						</h:form>
					</div>

				</h:panelGrid>
			</p:tab>

			<p:tab title="#{msg['email']}">
				<h:panelGrid columns="2" cellpadding="10">

					<h:form id="formStudent">
						<fieldset style="width: 300px; margin-left: 20px;">
							<legend>
								<h:outputText value="#{msg['mail']}" />
							</legend>
							<div class="p-field p-grid">
								<div class="p-col">
									<p:inputText id="mail"
										requiredMessage="#{msg['required.mail']}"
										value="#{studentMB.student.email}" required="true" />
									<p:message autoUpdate="true" for="mail" />
								</div>
							</div>

							<p:commandButton update="@form" value="#{msg['login']}"
								styleClass="ui-button-raised p-mr-2 ui-button-primary"
								action="#{studentMB.sendMail}" />
						</fieldset>
					</h:form>
				</h:panelGrid>
			</p:tab>
		</p:tabView>
	</h:body>
</f:view>
</html>