<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{changeLocale.locale}">

	<h:head>
		<meta charset="utf-8" />
		<title><h:outputText value="#{msg['title.welcome']}" /></title>

	</h:head>
	<style>
.Headergrid.ui-panelgrid>*>tr, .Headergrid.ui-panelgrid .ui-panelgrid-cell
	{
	border: none;
}
</style>
	<h:body>
		<div class="card">
			<h:messages globalOnly="true" infoClass="info" />
			<h:form id="form1">
				<p:panelGrid styleClass="Headergrid">
					<p:row>
						<p:column>
							<h2 style="text-align: center;">
								<h:outputText value="#{msg['title.questionnaire']}" />
							</h2>
						</p:column>
						<p:column>
							<p:commandButton update="@form" value="#{msg['logout']}"
								styleClass="ui-button-raised p-mr-2 ui-button-danger"
								action="#{studentMB.logout}" />
						</p:column>
					</p:row>
				</p:panelGrid>
			</h:form>

			<h:form id="form">
				<div>

					<div class="p-field p-col-8 p-md-4">
						<p:outputLabel for="q1" value="#{msg['q1']}" />
						<span style="color: red;">*</span>
						<p:inputNumber class="ui-fluid" id="q1" value="#{postsMB.q1}"
							minValue="1" maxValue="9999" decimalPlaces="0" required="true" />
						<p:message for="q1" style="margin-bottom: 10px;" />
					</div>

					<div class="p-field p-col-8 p-md-4">
						<p:outputLabel for="q2" value="#{msg['q2']}" />
						<span style="color: red;">*</span>
						<p:inputNumber class="ui-fluid" id="q2" required="true"
							value="#{postsMB.q2}" minValue="1" maxValue="9999"
							decimalPlaces="0" />
						<p:message for="q2" style="margin-bottom: 10px;" />
					</div>

					<div class="p-field p-col-8 p-md-4" style="margin-bottom: 10px;">
						<p:outputLabel for="q3" value="#{msg['q3']}" />
						<span style="color: red;">*</span><br />
						<h:selectOneMenu id="q3" value="#{postsMB.q3}" required="true"
							label="#{msg['q3']}">
							<f:selectItem itemLabel="Select One" itemValue=""
								noSelectionOption="true" />
							<f:selectItem itemLabel="Yes" itemValue="Yes" />
							<f:selectItem itemLabel="No" itemValue="No" />
						</h:selectOneMenu>
						<p:message for="q3" />
					</div>

					<div class="p-field p-col-8 p-md-4">
						<p:outputLabel for="q4" value="#{msg['q4']}" />
						<span style="color: red;">*</span>
						<p:inputNumber id="q4" value="#{postsMB.q4}" required="true"
							class="ui-fluid" minValue="1" maxValue="9999" decimalPlaces="0" />
						<p:message for="q4" style="margin-bottom: 10px;" />
					</div>

					<div class="p-field p-col-8 p-md-4">
						<h:outputLabel value="#{msg['q5']}" />
						<span style="color: red;">*</span><BR />
						<p:inputTextarea rows="8" cols="100" value="#{postsMB.q5}"
							counter="display" maxlength="255" id="q5" required="true"
							requiredMessage="#{msg[required.content]}" class="ui-fluid"
							counterTemplate="{0} characters remaining." />
						<BR />
						<h:outputText id="display" class="p-d-block" />
						<p:message for="q5" style="margin-bottom: 10px;" />
					</div>

					<div class="p-field p-col-8 p-md-4">
						<p:outputLabel for="q6" value="#{msg['q6']}" />
						<span style="color: red;">*</span><br />
						<h:selectOneMenu id="q6" value="#{postsMB.q6}" required="true"
							label="#{msg['q6']}">
							<f:selectItem itemLabel="Select One" itemValue=""
								noSelectionOption="true" />
							<f:selectItem itemLabel="m" itemValue="m" />
							<f:selectItem itemLabel="f" itemValue="f" />
							<f:selectItem itemLabel="div" itemValue="div" />
						</h:selectOneMenu>
						<p:message for="q6" style="margin-bottom: 10px;" />
					</div>

					<div class="p-field p-col-8 p-md-4">
						<p:outputLabel for="q7" value="#{msg['q7']}" />
						<span style="color: red;">*</span><br />
						<h:selectOneMenu id="q7" value="#{postsMB.q7}" required="true"
							label="#{msg['q7']}">
							<f:selectItem itemLabel="Select One" itemValue=""
								noSelectionOption="true" />
							<f:selectItem itemLabel="16-20" itemValue="16-20" />
							<f:selectItem itemLabel="21-25" itemValue="21-25" />
							<f:selectItem itemLabel="26-30" itemValue="26-30" />
							<f:selectItem itemLabel="more than 30" itemValue="more than 30" />
						</h:selectOneMenu>
						<p:message for="q7" style="margin-bottom: 10px;" />
					</div>

					<p:commandButton value="Post" update="@form"
						action="#{postsMB.Save}" styleClass="p-mr-2" icon="pi pi-check">
						<p:confirm type="popup" header="Confirmation"
							message="Are you sure you want to proceed?"
							icon="pi pi-exclamation-triangle" />
					</p:commandButton>

					<p:confirmPopup global="true">
						<p:commandButton value="No" type="button"
							styleClass="ui-confirm-popup-no ui-button-flat" />

						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirm-popup-yes" />
					</p:confirmPopup>
				</div>

			</h:form>
		</div>
	</h:body>
</f:view>
</html>